* {transition: 0.8s all;}

nav {
  background-color: #B2AF00;
  color: #460075;
}
 .nav-link{
   color: #460075;
 }

.navbar-brand {
  font-weight: bold;
}

.active {
  color: #8B0000;
}

.nav-link:hover {
  background-color: #460075;
  color: #B2AF00;
}

footer {
  background-color: #B2AF00;
  color: #460075;
}

.flying {
  background-color: #00D2F8;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #00D2F8;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */

  background-color: #B2AF00;
  color: #8B0000;
  text-align: center;
}
.img-fluid {
  transition: 2s all;
  width: 100%;
  height: 50%;
}
.card {
  margin-top: 1%;
  margin-bottom: 2%;
}
